html,
    body{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
body{
  font-family: 'Sarala', sans-serif;
	margin: 0 auto;
	margin-top: 2%;
  max-width: 80%;
	min-width: 300px;

   background:
    /* top, transparent  */
    linear-gradient(97deg, rgba(0,47,93,0.4) 0%, rgba(0,162,225,0.8) 37%),
    /* bottom, image */
    url(https://cdn.glitch.com/232f02a7-147b-4a65-8449-a9a204bde12e%2Fbg.jpg?v=1581553689842) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    o verflow: hidden;
}

h1{
	color: #fff;
	text-shadow: 0px 1px 5px rgba(20, 20, 20, 1);
}



@media (min-width: 768px){
	body{
		
		max-width: 800px;
	}
}

.navbar {
    background-color: rgba(255,255,255,.7);
}


    #header {
      height: 80px;
      width: 100%;
      border: 1px solid #ffffff;
      padding: 5px;
       background: rgba(255, 255, 255, 0.8);
      
    }

    #searchDiv {
      margin-right: 10px;
      margin-top: 12px;
      border: 1px solid #ddd;
      font-size: 2em;
      padding: 5px;
      width: 100%;

    	box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
    }

#viewDiv {

      background: #ffffff;
    	background-position: center;
    	background-size: 100%;
      border: 1px solid #ffffff;
      height: 500px;
      padding: 1px;
    	position: relative;
      width: 100%;
      height:60%;
    	box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);

    	transition: all 0.5s ease;
    }
.esri-view-width-less-than-medium .esri-popup__main-container {
    width: 100%;
}

.esri-view-width-medium .esri-popup__main-container {
    width: 100%;
}

 #infoDiv {
      height: 40px;
      width: 100%;
      
      padding: 5px;
      background: rgba(255, 255, 255, 0.8);
      
    }