html,
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fffcf9;
}

#intro {
  margin-top: 5%;
  text-align: center;
  line-height: 1.2;
}

.title1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to right, #ef476f 0%, #ffd166 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to left, #26547c 0%, #06d6a0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#search-header {
  height: 80px;
  width: 100%;
  padding: 5px;
}

#searchDiv {
  margin-right: 10px;
  margin-top: 12px;
  border: 1px solid #fff;
  font-size: 2em;
  padding: 5px;
  width: 100%;

  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.75);
}

#viewDiv {
  height: 50%;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}
.esri-view-width-less-than-medium .esri-popup__main-container {
  width: 100%;
}

.esri-view-width-medium .esri-popup__main-container {
  width: 100%;
}

#infoHeader {
  padding: 5px;
  border: 2px solid #FFFFFF;
  background: #26547c;
}

.input-header {
  font-family: "Noto Serif", serif;
  text-align: center;
  margin: auto;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: solid 1px #FFFFFF;
}

.panel-heading {
  font-family: "Noto Serif", serif;
  padding: 2px;
  background-color: rgba(6, 136, 187, 0.4) !important;
}

.panel-heading a {
  color: #343a40;
}

.panel-body p {
  margin: 2px 8px;
}

#accordion_search_bar {
  border: solid 1.5px #ffffff;
}

.fa-search {
  font-size: 1.3em;
}

.fa-volume-control-phone {
  font-size: 1.4em;
}

.page-footer {
  background: rgba(255, 255, 255, 0.8);
}

#warning {
  background-color: #242424;
  opacity: 0;
  width: 100%;
  text-align: center;
  transition: opacity 250ms ease-in-out;
  transition-delay: 125ms;
}

#warning .message {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  background-color: #000;
  color: #f4f4f4;
}
