html,
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fffcf9;
}

#intro {
  margin-top: 8%;
  text-align: center;
  line-height: 1.2;
}

.title1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to right, #ef476f 0%, #ffd166 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to left, #26547c 0%, #06d6a0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#search-header {
  height: 80px;
  width: 100%;
  padding: 5px;
}

#searchDiv {
  margin-right: 10px;
  margin-top: 12px;
  border: 1px solid #fff;
  font-size: 2em;
  padding: 5px;
  width: 100%;

  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.75);
}

#viewDiv {
  height: 50%;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}
.esri-view-width-less-than-medium .esri-popup__main-container {
  width: 100%;
}

.esri-view-width-medium .esri-popup__main-container {
  width: 100%;
}

#info-section {
  padding: 50px 0;
  background: #26547c;
}

#info-section .section-header h3,
#info-section .section-header p {
  color: #fff;
}

#info-section .card .fa-lg {
    font-size: 35px;
    padding-top: 10px;
    text-align:center;
  
}

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  font-weight: 500;
  position: relative;
}

.section-header p {
  
  margin: auto;
  font-size: 15px;
  padding-bottom: 50px;
  color: #556877;
  
}

#info-section .card {
  background: rgba(255, 255, 255, 0.7);
 box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 0 1px;
  padding: 15px 0;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#info-section .card h5 {
    font-size: 22px;
  text-align: center;
    font-weight: 600;
}


.page-footer {
  background: #fffcf9;
}

#warning {
  background-color: #242424;
  opacity: 0;
  width: 100%;
  text-align: center;
  transition: opacity 250ms ease-in-out;
  transition-delay: 125ms;
}

#warning .message {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  background-color: #000;
  color: #f4f4f4;
}
